{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <style>
    .form-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
    }

    .save-button {
      margin-top: 10px;
    }

    .old-version-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
    }
  </style>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h1>Редактор</h1>
        <div class="form-container">
          <form method="post">
            {% csrf_token %}
            {{ form|crispy|safe }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary save-button">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% if old_versions %}
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6 old-version-container">
          <div class="alert alert-info" role="alert">
            Прошлые версии:
          </div>
          {% for old_version in old_versions %}
            <p>Номер версии: {{ old_version.version }}</p>
            <p>Старое название: {{ old_version.name }}</p>
            <p>Старое описание: {{ old_version.description }}</p>
            <p>Старая цена: {{ old_version.price }}</p>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}