{% extends "shop/base.html" %}

{% block content %}
  <h1>Редактирование продукта</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for version_form in formset %}
      {% if version_form.instance.version == product.version %}
        <h3>Актуальная версия</h3>
      {% else %}
        <hr>
        <h3>Версия {{ version_form.instance.version }}</h3>
      {% endif %}
      {{ version_form.as_p }}
    {% endfor %}
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}